name: Python Test

on:
  workflow_call:
    inputs:
      python_version:
        description: Python version to use. If ommitted, uses version located in .python-version file
        required: false
        type: string
      pytest:
        description: If pytest should be run
        type: boolean
        default: true

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    if: "${{ !contains(github.event.head_commit.message, 'ci skip') }}"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Install Python ${{ inputs.python_version }}
        if: inputs.python_version
        uses: actions/setup-python@v6
        with:
          python-version: "${{ inputs.python_version }}"

      - name: Install Python Version from Project
        if: inputs.python_version == null
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          prune-cache: false
          cache-suffix: "extras"

      - name: Install vscode-task-runner
        run: uv tool install vscode-task-runner

      - name: Cache Pre-Commit
        uses: NathanVaughn/actions-pre-commit-cache@main

      - name: Install Dependencies
        run: uv sync --all-extras

      - name: Run Pre-Commit Hooks
        run: vtr pre-commit --color=always --show-diff-on-failure

      - name: Run Tests
        if: inputs.pytest
        run: vtr tests --color=yes --junit-xml=test_report.xml

      - name: Upload Test Summary
        if: inputs.pytest && always()
        uses: test-summary/action@v2.4
        with:
          paths: test_report.xml
